
@import url('https://www.ffonts.net/Hulkbusters.font');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --primary-green:#9BC063;
    --secondary-green: #455D3C;
    --primary-purple: #5A4862;
    --primary-black: #000001;
    --netflix-font:  'Bebas Neue'; 
    --hulk-font: 'Hulkbusters';
}

*{
    box-sizing: border-box;
    margin: 0;
}

#search {
    background-color: var(--primary-purple);
    color: var(--primary-green);
    font-stretch: expanded;

}

#submit {
    background-color: var(--primary-purple);
    color: var(--primary-black);
    border-radius: 20px;
    border: 2px solid #9BC063;
}

main {
    background-color: var(--primary-purple);
    height: 600px;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--hulk-font);
}

 main > h1 {
    color: var(--primary-green);
    background-color: var(--secondary-green);
    font-size: 100px;
    text-align: center;
}

header, footer{
    display: flex;
    align-items: center;
    color: var(--primary-green);
    width: 100%;
    height: 65px;
    background-color: var(--secondary-green);
}

header {
    height: 150px;
}

#logo {
    width: 200px;
}
.movieInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-green);
    color: var(--primary-black);
    width: 400px;
    height: 400px;
    align-items: flex-start;
    font-size: 15px;
    border: 10px solid var(--primary-black);

}

.searchAndSmash {
    background-color: var(--primary-green);
    height: 100px;
}

p {
    font-family: var(--hulk-font);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}